<div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
    <div class="row">
        <div class="col-sm-12 ms-3">
            <h1 class="text-start ubuntu-medium">Cont<span class="destaque">ato</span></h1>
        </div>
        <div class="col-sm-4">
            <div class="position-relative">
                <div class="d-flex flex-column ms-2 mt-3 mb-3 position-absolute top-0 start-0">
                    <div class="p-2 border bg-light bg-gradient px-4 py-4 mb-2">
                        <i data-lucide="map-pin" class="mb-1 destaque"></i>
                        <p class="mb-0 ubuntu-medium">Juiz de Fora</p>
                    </div>
                    <div class="p-2 border bg-light bg-gradient px-4 py-4 mb-2">
                        <i data-lucide="phone" class="mb-1 destaque"></i> 
                        <p class="mb-0 ubuntu-medium">(32) 98857-6281</p>
                    </div>
                    <div class="p-2 border bg-light bg-gradient px-4 py-4 mb-2">
                        <i data-lucide="mail" class="mb-1 destaque"></i>
                        <p class="mb-0 ubuntu-medium">augusto.garcia.cp@gmail.com</p>
                    </div>
                </div>
            </div>            
        </div>

        <div class="col-sm-8 mt-3">
            <!-- <img src="img/maps.jpg" class="img-fluid ms-2" alt="..." style="height: 200px; width: 530px;"> -->
            <div class="row ms-0 mt-3">
                <div class="col-sm-6">
                    <form class="row pe-0">
                        <div class="col-12 mb-2">
                            <label for="nome" class="visually-hidden">Seu nome</label>
                            <input type="text" class="form-control ubuntu-light" id="nome" value="Seu nome">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="email" class="visually-hidden">Seu e-mail</label>
                            <input type="email" class="form-control ubuntu-light" id="email" placeholder="Seu e-mail">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="assunto" class="visually-hidden">Assunto</label>
                            <input type="text" class="form-control ubuntu-light" id="assunto" placeholder="Assunto">
                        </div>
                        <div class="form-floating d-flex p-2 ms-1">
                            <button type="submit" class="btn btn-lg btn-outline-secondary rounded-pill ms-0 pt-1">
                                <i data-lucide="send" class="icons me-2"></i>Enviar
                            </button>
                        </div>  
                    </form>
                </div>  
                <div class="col-sm-6 ps-0">
                    <div class="form-floating">
                        <textarea class="form-control ubuntu-light" placeholder="Leave a comment here" id="mensagem" style="height: 135px"></textarea>
                        <label for="mensagem">Sua mensagem...</label>
                    </div>
                </div> 
                <!-- <div class="col-sm-4 ms-0">
                                      
                </div>              -->
            </div>
        </div>

    </div>
</div>
